* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

h1 {
  font-size: 72px;
  letter-spacing: -1.8px;
  font-family: var(--font-druk);
  background: linear-gradient(
    95.84deg,
    rgba(255, 255, 255, 0.27) 32.01%,
    rgba(255, 255, 255, 0.69) 55%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  display: inline;
  background: linear-gradient(
    135deg,
    #ffffff 30%,
    rgba(255, 255, 255, 0.5) 100%
  );
  font-size: 40px;
  font-weight: 400;
  font-family: var(--font-segoe);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Segoe UI;
  line-height: 53px;
  letter-spacing: -1.4px;
}

h4 {
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #434343;
  width: 176px;
  height: 50px;
  border-radius: 16px;
  background-color: #d9d9d9;
}

span {
  font-weight: 700;
}

.blue {
  color: #00fffc;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 750px) {
  h1 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
}
